.layout {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #fff !important;
  display: flex;
  align-items: center;
  height: 64px !important;
  flex-shrink: 0 !important;

  h2 {
    margin: 0 0 0 15px;
    padding: 0;
  }
}

.main {
  flex-grow: 5;
}

.warning {
  position: fixed;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -154px;
}

.rightMenu {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 20px;
}
